<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz4fe5NSj53NvSMiN6eH-f_Xx7uoFzLZM</string>
	<key>GCM_SENDER_ID</key>
	<string>592185098385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventoryMobile</string>
	<key>PROJECT_ID</key>
	<string>robolabs-inventory-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>robolabs-inventory-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592185098385:ios:50c911c1955c05d1a47f30</string>
</dict>
</plist>